# Node
node_modules
npm-debug.log*
pnpm-lock.yaml
.yarn/*
dist
coverage
test-results
playwright-report
playwright/.cache

# Java/Maven
infra/target
infra/.classpath
infra/.project
infra/.settings
infra/.idea
infra/.vscode

# CDK
cdk.out
